
<div class="container">

  <div class="page-header">
    <h1>Listing Tasks</h1>
  </div>

  <div>
    <p>
    <% @tasks.each do |event| %>
    <p> Description: <%= event.description %></p>
    <hr>
    <% end %>
    </p>
    <p>Testing task</p>
    <p></p>
  </div>

  <p></p>

    <!-- <div class="row"> -->
      <div class="row">
        <div class="col-md-3">
          Test Task:
          <%= link_to "Edit", new_task_path %>
          <!-- <%= link_to "Delete", new_task_path %> -->
        </div>
      </div>
    <!-- </div> -->
    <%= link_to "New Task", new_task_path %>

</div>
