
<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Task", new_task_path, class: "btn btn-info" %>
    </div>
    <h1>Tasks</h1>
  </div>

  <div>
    <h4>
      Description:
    </h4>
  </div>

  <table class="table">
      <% @tasks.each do |event| %>
      <tbody>
      <tr>
        <td>
          <div class="row">
            <div class="col-md-4">
            <%= event.description %>
            </div>
            <div class="col-md-8 text-right">
            <!-- <div class="text-right"> -->
              <%= link_to "Edit", new_task_path, class: "btn btn-info" %>
              <%= link_to "Delete", new_task_path, class: "btn btn-danger" %>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
      <% end %>
  </table>

</div>
