
<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Task", new_project_task_path(@project), class: "btn btn-info"%>
    </div>
    <h1>Tasks</h1>
  </div>

  <table class="table">

      <thead>
        <tr>
          <th>Description</th>
          <th>Due On</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
              <td>
                <% if task.complete %>
                  <s><%= link_to task.description, project_task_path(@project,task) %></s>
                <% else %>
                  <%= link_to task.description, project_task_path(@project,task) %>
                <% end %>
              </td>
              <td>
                <% if task.due_date %>
                  <%= task.due_date.strftime("%D") %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>

  </table>

</div>
