
<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New User", new_user_path, class: "btn btn-info"%>
    </div>
    <h1>Users</h1>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th> Name </th>
        <th> Email</th>
      </tr>
    </thead>

    <% current_user_projectIDs = @memberships.where(user_id: current_user.id).pluck(:project_id) %>
    <% user_ids_for_projects=[] %>
    <% current_user_projectIDs.each do |pid| %>
      <% user_ids_for_projects << @memberships.where(project_id: pid).pluck(:user_id) %>
    <% end %>
    <% user_ids_for_projects.flatten!%>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <% firstlast = user.first_name+" "+user.last_name %>
            <%= link_to firstlast, user_path(user) %>
          </td>
          <td>
            <% if current_user.id == user.id || current_user.admin == true ||
                (user_ids_for_projects.include?(user.id) && user.admin == false) %>
              <%= mail_to user.email %>
            <% end %>
          </td>
          <td align="right">
            <% if current_user.id == user.id || current_user.admin == true %>
              <%= link_to "Edit", edit_user_path(user) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

</div>
