

<% object.errors.any? do %>

  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-6">

    <div class="alert alert-danger">
      <h3> <%= pluralize(object.errors.count, "error") %>
        prohibited this form form being saved:
      </h3>
      <ul>
        <% object.errors.full_messages.each do |error| %>
          <!-- if password digest true then skip error if @user.errors.full_messages= -->
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>

    </div>
  </div>

<% end %>
