

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p>
      GCamp
    </p>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
  <h1>gCamp</h1>
  <p>
  </p>
  <p>Your life, organized</p>
  </div>
</div>
