
<div class="container">

  <div class="page-header">
    <div class="pull-right">
      <%= link_to "New Project", new_project_path, class: "btn btn-info"%>
    </div>
    <h1>Projects</h1>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th>Name</th>
        <th>Tasks</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <% if project.memberships.pluck(:user_id).include?(current_user.id) || current_user.admin == true %>
          <tr>
            <td>
              <%= link_to project.name, project_path(project) %>
            </td>
            <td>
              <%= link_to project.tasks.count, project_tasks_path(project) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>

  </table>

  <div class="page-header">
    <h1>Pivotal Tracker Projects</h1>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <!-- current user tracker projects -->
      <% @tracker_projects.each do |tracker_project| %>
          <tr>
            <td>
              <% if tracker_project.to_s.include?("error") %>
                "Invalid tracker project - Please verify the Pivotal Tracker Token"
              <% else %>
                <%=link_to tracker_project[:name], tracker_project_stories_path(tracker_project[:id].to_i) %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>

  </table>

</div>
